pkgbase = flatpak-kcm
	pkgdesc = Flatpak Permissions Management KCM
	pkgver = 6.5.1
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	depends = flatpak
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = kcmutils
	depends = kconfig
	depends = kcoreaddons
	depends = ki18n
	depends = kirigami
	depends = kitemmodels
	depends = kservice
	depends = qt6-base
	depends = qt6-declarative
	source = https://download.kde.org/stable/plasma/6.5.1/flatpak-kcm-6.5.1.tar.xz
	source = https://download.kde.org/stable/plasma/6.5.1/flatpak-kcm-6.5.1.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = a3acb7915573c9425bfaa75c10daeba0dc4c814d9e718ed756ad43d7666d95b6
	sha256sums = SKIP

pkgname = flatpak-kcm
