pkgbase = plasma-thunderbolt
	pkgdesc = Plasma integration for controlling Thunderbolt devices
	pkgver = 6.5.1
	pkgrel = 1
	url = https://kde.org/plasma-desktop/
	arch = x86_64
	groups = plasma
	license = LGPL-2.0-or-later
	makedepends = extra-cmake-modules
	depends = bolt
	depends = gcc-libs
	depends = glibc
	depends = kcmutils
	depends = kcoreaddons
	depends = kdbusaddons
	depends = ki18n
	depends = kirigami
	depends = knotifications
	depends = qt6-base
	depends = qt6-declarative
	source = https://download.kde.org/stable/plasma/6.5.1/plasma-thunderbolt-6.5.1.tar.xz
	source = https://download.kde.org/stable/plasma/6.5.1/plasma-thunderbolt-6.5.1.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	validpgpkeys = 0AAC775BB6437A8D9AF7A3ACFE0784117FBCE11D
	validpgpkeys = D07BD8662C56CB291B316EB2F5675605C74E02CF
	validpgpkeys = 1FA881591C26B276D7A5518EEAAF29B42A678C20
	sha256sums = a5d7c48dd4396f8ae7a7cf4108bb3b181e910fad211c84288233333814c9b656
	sha256sums = SKIP

pkgname = plasma-thunderbolt
